.transition_class{
  transition-duration: 0.5s;
}

.headings {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.styleFont {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.lightGreyBG{
  background-color: #f8f9fb;
}

.blackBG{
  background-color: black;
}

hr {
  background-color: #888888;
}

img {
  width:  100%;
  height: 100%;
}

.avatarCss{
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.smallWidth {
  max-width: 1000px;
}

.expBtn{
  width: 100%;
}